Repository ehtick/msgraph-sdk-raptor: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/go-v1-compile-all-tests.yml, azure-pipelines/java-v1-compile-tests.yml

azure-pipelines/go-v1-compile-all-tests.yml:
  schedules:
  - cron: 0 1 * * *
    displayName: Daily V1 Go Snippet Compilation Tests  - All Tests
    branches:
      include:
      - dev
    always: true
  name: V1 Go Snippet Compilation Tests - All Tests
  pool:
    name: 1es-ubuntu-latest
  jobs:
  - job: null
    timeoutInMinutes: 120
    steps:
  ...

azure-pipelines/java-v1-compile-tests.yml:
  schedules:
  - cron: 0 3 * * *
    displayName: Daily V1 Java Snippet Compilation Tests
    branches:
      include:
      - dev
    always: true
  name: V1 Java Snippet Compilation Tests
  pool:
    vmImage: ubuntu-latest
  steps:
  - template: java-templates/java-prepare.yml
  - template: common-templates/checkout.yml
  ...

Update go pipelines to use higher compute machine (#1116)
  GoV1KnownIssueTests/AssemblyInfo.cs
  azure-pipelines/go-v1-compile-all-tests.yml
  azure-pipelines/go-v1-compile-stable-tests.yml
  azure-pipelines/go-v1-compile-tests-known-issues.yml
Due: azure-pipelines/go-v1-compile-all-tests.yml

Add Go Beta Compilation Tests (#1109)
  .vscode/tasks.json
  GoBetaKnownIssueTests/AssemblyInfo.cs
  GoBetaKnownIssueTests/GoBetaKnownIssueTests.csproj
  GoBetaKnownIssueTests/KnownIssuesBeta.cs
  GoBetaTests/AssemblyInfo.cs
  GoBetaTests/GoBetaTests.csproj
  GoBetaTests/SnippetCompileBetaTests.cs
  GoBetaTests/goDependencies/go.mod
  TestsCommon/GoTestRunner.cs
  azure-pipelines/go-beta-all-tests.yml
  azure-pipelines/go-beta-compile-stable-tests.yml
  azure-pipelines/go-beta-compile-tests-known-issues.yml
  msgraph-sdk-raptor.sln
Due: azure-pipelines/go-v1-compile-all-tests.yml

Update VSCode debug-helping scripts (#1118)
  .vscode/tasks.json
Due: none

use netstandard dll, netcoreapp is no longer applicable
  azure-pipelines/e2e-templates/known-issue-tests.yml
  azure-pipelines/e2e-templates/regular-tests.yml
Due: none

select first instance of the dll
  azure-pipelines/e2e-templates/known-issue-tests.yml
  azure-pipelines/e2e-templates/regular-tests.yml
Due: none

Updated sdk download script
  azure-pipelines/powershell-templates/powershell-execution-tests-template.yml
Due: none

Added check for Get-Module count result
  azure-pipelines/powershell-templates/powershell-execution-tests-template.yml
Due: none

Update azure-pipelines/powershell-templates/powershell-execution-tests-template.yml
  azure-pipelines/powershell-templates/powershell-execution-tests-template.yml
Due: none

Feat/ts execution tests (#1128)
  .github/dependabot.yml
  TestsCommon/KnownIssues.cs
  TestsCommon/MicrosoftGraphTypescriptCompiler.cs
  TestsCommon/TestDataGenerator.cs
  TestsCommon/TypeScriptTestRunner.cs
  TestsCommon/TypescriptKnownIssues.cs
  TypeScriptV1ExecutionKnownIssueTests/AssemblyInfo.cs
  TypeScriptV1ExecutionKnownIssueTests/KnownIssuesV1.cs
  TypeScriptV1ExecutionKnownIssueTests/TypeScriptV1ExecutionKnownIssueTests.csproj
  TypeScriptV1ExecutionTests/AssemblyInfo.cs
  TypeScriptV1ExecutionTests/SnippetExecutionV1Tests.cs
  TypeScriptV1ExecutionTests/TypeScriptV1ExecutionTests.csproj
  TypeScriptV1KnownIssueTests/KnownIssuesV1.cs
  TypeScriptV1Tests/AssemblyInfo.cs
  TypeScriptV1Tests/TsDependecies/package-lock.json
  TypeScriptV1Tests/TsDependecies/package.json
  TypeScriptV1Tests/TsDependecies/tsconfig.json
  TypeScriptV1Tests/TypeScriptV1Tests.csproj
  azure-pipelines/typescript-v1-compile-all-tests.yml
  azure-pipelines/typescript-v1-compile-tests-known-issues.yml
  azure-pipelines/typescript-v1-compile-tests.yml
  azure-pipelines/typescript-v1-execution-tests-known-issues.yml
  azure-pipelines/typescript-v1-execution-tests.yml
  msgraph-sdk-raptor.sln
  report/Beta-csharp-compilation-known-issues.md
  report/Beta-powershell-execution-known-issues.md
Due: none

Rename TS Known Issues execution pipeline (#1139)
  TypeScriptV1Tests/TsDependecies/tsconfig.json
  azure-pipelines/typescript-v1-execution-tests-known-issues.yml
Due: none

Enhance go-template-to-include-models-and-configs (#1141)
  TestsCommon/GoTestRunner.cs
Due: azure-pipelines/go-v1-compile-all-tests.yml

add failing v1 compilation tests into known issues
  TestsCommon/CSharpKnownIssues.cs
Due: none

add failing beta compilation tests into known issues
  TestsCommon/CSharpKnownIssues.cs
Due: none

remove passing Beta compilation tests from known issues
  TestsCommon/CSharpKnownIssues.cs
Due: none

add failing v1 execution tests into known issues
  TestsCommon/CSharpKnownIssues.cs
Due: none

add failing beta execution tests into known issues
  TestsCommon/CSharpKnownIssues.cs
Due: none

remove passing v1 execution tests from known issues
  TestsCommon/CSharpKnownIssues.cs
Due: none

remove passing beta execution tests from known issues
  TestsCommon/CSharpKnownIssues.cs
Due: none

Update reports
  report/Beta-csharp-compilation-known-issues-report.html
  report/Beta-csharp-compilation-known-issues.md
  report/V1-csharp-compilation-known-issues-report.html
  report/V1-csharp-compilation-known-issues.md
  report/V1-csharp-execution-known-issues-report.html
  report/V1-csharp-execution-known-issues.md
Due: none

Clean up on known issues file
  TestsCommon/PowerShellKnownIssues.cs
  TestsCommon/PowerShellTestRunner.cs
  TestsCommon/TestsCommon.csproj
  TestsCommon/powershell_snippet_outfiles.txt
Due: none

Resolve Auth for TypeScript Execution Test (#1142)
  TestsCommon/GoTestRunner.cs
  TestsCommon/Models/IdentifierReplacer.cs
  TestsCommon/Models/LanguageTestData.cs
  TestsCommon/StringExtentions.cs
  TestsCommon/TestDataGenerator.cs
  TestsCommon/TypeScriptTestRunner.cs
  TypeScriptV1ExecutionKnownIssueTests/KnownIssuesV1.cs
  TypeScriptV1ExecutionTests/SnippetExecutionV1Tests.cs
  azure-pipelines/typescript-v1-execution-tests.yml
Due: azure-pipelines/go-v1-compile-all-tests.yml

Cleanup xml comments across a few files
  CSharpArbitraryDllTests/SnippetCompileArbitraryDllTests.cs
  CsharpBetaExecutionKnownIssueTests/SnippetExecutionBetaKnownIssueTests.cs
  CsharpBetaExecutionTests/SnippetExecutionBetaTests.cs
  CsharpBetaKnownIssueTests/KnownIssuesBeta.cs
  CsharpBetaTests/SnippetCompileBetaTests.cs
  CsharpV1ExecutionKnownIssueTests/SnippetExecutionV1KnownIssueTests.cs
  CsharpV1KnownIssueTests/KnownIssuesV1.cs
  CsharpV1Tests/SnippetCompileV1Tests.cs
  JavaBetaKnownIssueTests/KnownIssuesBeta.cs
  JavaV1KnownIssueTests/KnownIssuesV1.cs
  TestsCommon/BaseTestRunner.cs
  TestsCommon/GoKnownIssues.cs
  TestsCommon/GraphDocsDirectory.cs
  TestsCommon/JavaKnownIssues.cs
Due: azure-pipelines/go-v1-compile-all-tests.yml, azure-pipelines/java-v1-compile-tests.yml

Update reports
  report/Beta-csharp-compilation-known-issues.md
  report/Beta-powershell-execution-known-issues-report.html
  report/Beta-powershell-execution-known-issues.md
  report/V1-csharp-compilation-known-issues.md
  report/V1-powershell-execution-known-issues-report.html
  report/V1-powershell-execution-known-issues.md
Due: none

Update Typescript know issues (#1153)
  TestsCommon/TypescriptKnownIssues.cs
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

update of known issues
  TestsCommon/KnownIssues.cs
  TestsCommon/PowerShellKnownIssues.cs
  TestsCommon/PowerShellTestRunner.cs
Due: none

Update reports
  report/V1-powershell-execution-known-issues-report.html
  report/V1-powershell-execution-known-issues.md
Due: none

Increase timeout for beta pipelines (#1156)
  .github/dependabot.yml
  azure-pipelines/go-beta-all-tests.yml
  azure-pipelines/go-beta-compile-stable-tests.yml
  azure-pipelines/go-beta-compile-tests-known-issues.yml
Due: azure-pipelines/go-v1-compile-all-tests.yml

adds hard reference to Go Beta SDK for dependabot
  GoBetaTests/goDependencies/src/hard-reference.go
Due: azure-pipelines/go-v1-compile-all-tests.yml

Clean go known issues list (#1168)
  TestsCommon/GoKnownIssues.cs
  report/Beta-csharp-compilation-known-issues.md
  report/Beta-powershell-execution-known-issues.md
  report/V1-csharp-compilation-known-issues.md
  report/V1-csharp-execution-known-issues.md
  report/V1-powershell-execution-known-issues.md
Due: azure-pipelines/go-v1-compile-all-tests.yml

Move Failing execution stable tests to known issues (#1185)
  TestsCommon/CSharpKnownIssues.cs
  report/Beta-csharp-compilation-known-issues-report.html
  report/Beta-csharp-compilation-known-issues.md
  report/Beta-powershell-execution-known-issues.md
  report/V1-csharp-compilation-known-issues-report.html
  report/V1-csharp-compilation-known-issues.md
  report/V1-csharp-execution-known-issues-report.html
  report/V1-csharp-execution-known-issues.md
  report/V1-powershell-execution-known-issues.md
Due: none

Removed fixed issues from Known issues list (#1186)
  TestsCommon/CSharpKnownIssues.cs
  report/V1-csharp-execution-known-issues-report.html
  report/V1-csharp-execution-known-issues.md
Due: none

Add staging AGS validation failing tests into known issues as needsan… (#1187)
  TestsCommon/CSharpKnownIssues.cs
  report/Beta-csharp-compilation-known-issues-report.html
  report/Beta-csharp-compilation-known-issues.md
  report/V1-csharp-compilation-known-issues-report.html
  report/V1-csharp-compilation-known-issues.md
Due: none

Cleanup dashboard known issues 11 08 2022 (#1213)
  TestsCommon/CSharpKnownIssues.cs
  TestsCommon/GoTestRunner.cs
  report/Beta-powershell-execution-known-issues.md
  report/V1-csharp-execution-known-issues-report.html
  report/V1-csharp-execution-known-issues.md
  report/V1-powershell-execution-known-issues.md
Due: azure-pipelines/go-v1-compile-all-tests.yml

Investigate failing test sensitivitylabelthisevaluateremoval-csharp-B… (#1203)
  TestsCommon/CSharpKnownIssues.cs
  report/Beta-csharp-compilation-known-issues-report.html
  report/Beta-csharp-compilation-known-issues.md
Due: none

Path conditions:
  azure-pipelines/go-v1-compile-all-tests.yml: any of: azure-pipelines/go*, Go*, TestsCommon/GoTestRunner.cs, TestsCommon/GoKnownIssues.cs
  azure-pipelines/java-v1-compile-tests.yml: any of: azure-pipelines/java*, Java*, java-dependencies, TestsCommon/JavaTestRunner.cs, TestsCommon/JavaKnownIssues.cs
